.theme--dark,
.theme--light {
    font-family: var(--fontFamily-drukWide--med);
    background-color: var(--color-main);
    color: var(--color-text);
    text-transform: uppercase;
    flex-direction: column;
    height: 100%;
    width: 100%;
    flex: 1;
}

.accent { color: var(--color-pink); }

main {
    flex: 1;
}

/* Menubar
-------------------------------------------------- */
[role="menubar"] {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    z-index: var(--zIndex-9--menubar);
}

[role="menubar"].open {
    transform: translateY(0);
}

[role="menubar"] div { text-align: center; }
[role="menubar"] li { padding: var(--spacing) 0; }

/* Banner
-------------------------------------------------- */
[role="banner"] {
    width: 100%;
    padding: calc(var(--spacing) * 1.5) 0;
    top: 0; /* For sticky positioning */
    z-index: var(--zIndex-9--banner);
}

/* Playlists
-------------------------------------------------- */
[aria-label="playlists"] article {
    padding: calc(var(--spacing) * 0.25) 0;
}

/* [aria-label="features"] article {
    
} */

footer {
    width: 100%;
    padding: calc(var(--spacing) * 1.5) 0;
}

video {
    width: 100%;
    height: auto;
}

section {
    padding: calc(var(--spacing) * 2.5) 0;
}

span {
    margin-top: 1em;
}

/* Font
-------------------------------------------------- */
.font--smallest { font-size: var(--fontSize--smallest); }
.font--smaller { font-size: var(--fontSize--smaller); }
.font--small { font-size: var(--fontSize--small); }
.font--base { font-size: var(--fontSize--base); }
.font--large { font-size: var(--fontSize--large); }
.font--larger { font-size: var(--fontSize--larger); }
.font--largest { font-size: var(--fontSize--largest); }

.font--smallest,
.font--smaller,
.font--small,
.font--base,
.font--large,
.font--larger,
.font--largest {
    letter-spacing: 2px;
    line-height: 1.25em;
}

.stroked,
.stroked--hover:hover {
    color: var(--color-transparent);
    -webkit-text-stroke-color: var(--color-stroke);
    -webkit-text-stroke-width: 1px;
}

.features .thumbnail {
    margin: 2em 0;
    display: inline-block;
    z-index: calc(var(--zIndex-7--feature) - 25); /* TODO: Rough and tumble. fix this */
}

.imageBox { text-align: center; }
.bgText {
    z-index: var(--zIndex-7--feature);
    pointer-events: none;
}

.thumbnail img {
    width: auto;
    max-height: calc(var(--spacing) * 20);
    max-width: 90%;
    margin: auto;
    display: block;
    pointer-events: none;
}